/* You can add global styles to this file, and also import other style files */
#header {
    background-image: url("assets/images/openBible.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 2em;
    padding: 3em;
    position: relative;
    text-align: center;
}

h1 {
    color: #7895ff;
}