<section class="container">
    <div class="row">
      <h2 class="col-12 col-sm-6">{{currentVersion}}</h2>
      <h2 class="col-8 col-sm-4">{{currentBook}}:</h2>
      <h2 class="col-4 col-sm-2">{{currentChapter}}</h2>
    </div>
  </section>


<section id="selections" class="container">
  <div class="row form-group">
    <div class="selection-div col-4" *ngIf="versions != null">
      <select class="form-control" name="bible-version-select" id="bible-version-select" (input)="chooseVersion($event)">
        <option *ngFor="let version of versions" value="{{version}}">{{version}}</option>
      </select>
    </div>
      
    <div class="selection-div col-2" *ngIf="bibleBooks['Old Testament'] != null && bibleBooks['New Testament'] != null">
      <select class="form-control" name="bible-book-select" id="bible-book-select" (input)="chooseBook($event)">
        <optgroup label="Old Testament">
          <option *ngFor="let book of bibleBooks['Old Testament']" value="{{book}}">{{book}}</option>
        </optgroup>
    
        <optgroup label="New Testament">
          <option *ngFor="let book of bibleBooks['New Testament']" value="{{book}}" >{{book}}</option>
        </optgroup>
      </select>
    </div>
      
    <div class="selection-div col-1" *ngIf="currentBookChapterCount">
      <select class="form-control" name="book-chapter-select" id="book-chapter-select" (input)="chooseChapter($event)">
        <ng-container *ngFor="let chapter of currentBookChapterCount">  
          <option *ngIf="chapter === currentChapter; else elseBlock" selected value="{{chapter}}">{{chapter}}</option>
          <ng-template #elseBlock>
            <option value="{{chapter}}">{{chapter}}</option>
          </ng-template>
        </ng-container>
      </select>
    </div>

    <div class="input-group col-5">
      <div class="input-group-prepend">
          <i class="fas fa-search input-group-text"></i>
      </div>
      <input type="text" class="form-control">
    </div>
  </div>
</section>


<div *ngIf="page != null" class="container">
  <div class="row">
    <button class="col-2 col-md-1" (click)="previousChapter()">
      <i class="arrow fas fa-chevron-left"></i>
    </button>

    <article class="col-8 col-md-10">
      <ng-container *ngFor="let verse of verses">
        <!-- <p appHover>{{verse}}: {{page[verse]}}</p> -->
        <!-- The above line was removed and replaced with the following 
              code. This was to correct the King James Version which contained
              html tags. The tags were displaying as text using the above code,
              whereas, the code below actually renders the tags as HTML. This will
              allow for HTML tags to be inserted into future versions of the bible.
        -->
        <p appHover><span [innerHTML]="verse"></span>: <span [innerHTML]="page[verse]"></span></p>
      </ng-container>
    </article>
    
    <button class="col-2 col-md-1" (click)="nextChapter()">
      <i class="arrow fas fa-chevron-right"></i>
    </button>
  </div>
  
</div>
